<div class="row mobile_flex_wrapper">
  <div class="mobile_back_icon_line">
    <i class="material-icons blue_color cursor_pointer mobile_back_icon"
      (click)="cancleAndGoBack()">keyboard_backspace</i>
    <span class="mobile_icon_line"></span>
  </div>
  <div class="mt_100">
    <i class="material-icons blue_color cursor_pointer remove_back_icon"
      (click)="cancleAndGoBack()">keyboard_backspace</i>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>first name
      </p>
      <span class="font_Lato blue_color mb_20 flex_start pl_25">{{contact.firstName}}</span>
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>last name
      </p>
      <span class="font_Lato blue_color mb_20 flex_start pl_25">{{contact.lastName}}</span>
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">house</i>address</p>
      <span class="font_Lato blue_color mb_20 flex_start pl_25">{{contact.address}}</span>
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i
          class="material-icons padding_rl_10">favorite_border</i>Bookmark</p>
      <input disabled class="new_contact_inputs new_contact_inputs_checkbox" type="checkbox" [checked]="contact.bookmarked">
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">email</i>emails</p>
      <div class="flex_start mobile_change_flex" *ngFor="let email of contact.emails;">
          <span class="font_Lato blue_color mb_20 flex_start pl_25">{{email.contactEmail}}</span>
      </div>
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">phone</i>number</p>
      <div class="flex_start mobile_change_flex" *ngFor="let number of contact.numbers;">
          <span class="font_Lato blue_color mb_20 flex_start pl_25">{{number.contactNumber}}</span>
      </div>
    </div>
    <div class="column">
      <span class="new_contact_lines mb_20"></span>
      <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>tag</p>
      <div class="flex_start mobile_change_flex" *ngFor="let tag of contact.tags;">
          <span class="font_Lato blue_color mb_20 flex_start pl_25">{{tag.contactTag}}</span>
      </div>
    </div>
  </div>
</div>