.preview_contact_name {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 28px;
}

.ml_50 {
    margin-left: 50px;
}
.mobile_name_profile {
    display: none;
}
.mobile_icon_line {
    display: none;
}
@media only screen and (max-width: 768px) {
    .mobile_name_profile {
        display: flex;
        justify-content: flex-start;
    }

    .mobile_hide_profile {
        display: none;
    }

    .mobile_photo {
        height: 56px;	
        width: 56px;
        margin: 0px 0px 15px 0px;
    }

    .new_contact_lines {
        width: 90%;
        margin: 0 auto;
    }
    .preview_contact_name {
        padding-top: 10px;
    }

    .mt_100 {
        margin-top: 20px;
        width: 100%;
    }

    .mobile_icon_line {
        display: block;
        width: 100%;
        box-sizing: border-box;	
        height: 2px;	
        border: 1px solid #BBC4C3;	
        margin-bottom: 20px;
    }

    .mobile_padding {
        padding: 0px 15px 0px 15px;
    }

    .mobile_ml {
        margin-left: 30px;
    }

}
