.new_contact_inputs_checkbox {	
    width: 100px !important;	
}


.new_contact_inputs {
    height: 60px;	
    width: 300px;	
    border: 1px solid #BBC4C3;	
    opacity: 0.4;	
    border-radius: 4px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.new_contact_label_input {
    width: 210px;
    margin-left: 20px;
}

.new_contact_lines {
    box-sizing: border-box;	
    height: 2px;	
    width: 630px;	
    border: 1px solid #2DA1AD;
}

.new_contact_delete_button {
    height: 64px;
    padding-left: 20px;
    color: #BBC4C3;
}

.mt_100 {
    margin-top: 100px;
}

.mb_20 {
    margin-bottom: 20px;
}

.padding_rl_10 {
    padding: 0px 10px 0px 10px;
}

.buttons {
    height: 42px;	
    width: 160px;	
    border-radius: 28.5px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.mobile_label_input_wrapper {
    display: none;
}

.mobile_back_icon_line {
    display: none;
}

@media only screen and (max-width: 768px) {

    .mobile_icon_line {
        display: block;
        width: 100%;
        box-sizing: border-box;	
        height: 2px;	
        border: 1px solid #BBC4C3;	
        margin-bottom: 20px;
    }

    .mobile_flex_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mt_100 {
        margin-top: 30px;
        width: 100%;
    }

    .new_contact_lines {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .new_contact_upload_photo {
        margin: 50px 0px 0px 0px;
    }

    .new_contact_uploaded_photo {
        margin: 50px 0px 0px 0px;
    }
    .new_contact_inputs {
        width: 90%;
        margin: 0 auto;
    }
    .new_contact_label_input {
        width: 80%;
        margin-bottom: 20px;
    }

    .mobile_label_input_wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .mobile_hide_label_input {
        display: none;
    }

    .mobile_change_flex {
        display: block;
    }

    .mobile_number_input {
        display: flex;
        margin-bottom: 20px;
    }

    .new_contact_delete_button {
        padding: 0px;
        padding-right: 15px;
    }

    .mobile_add_number {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin: 0px 15px 0px 15px;
    }

    .pl_25 {
        padding-left: 25px;
    }

    .remove_back_icon {
        display: none;
    }

    .mobile_back_icon_line {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .mobile_back_icon {
        margin-left: 15px;
        margin-right: 15px;
    }
}
