<div class="row mobile_flex_wrapper">
  <div class="mobile_back_icon_line">
      <i class="material-icons blue_color cursor_pointer mobile_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
      <span class="mobile_icon_line"></span>
  </div>
  <div class="mt_100">
      <i class="material-icons blue_color cursor_pointer remove_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
      <div class="column">
        <span class="new_contact_lines mb_20"></span>
        <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>first name</p>
        <input class="new_contact_inputs" type="text" placeholder="Your first name" [(ngModel)]="firstName">
      </div>
      <div class="column">
          <span class="new_contact_lines mb_20"></span>
          <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>last name</p>
          <input class="new_contact_inputs" type="text" placeholder="Your last name" [(ngModel)]="lastName">
        </div>
        <div class="column">
            <span class="new_contact_lines mb_20"></span>
            <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">house</i>address</p>
            <input class="new_contact_inputs" type="text" placeholder="Your address" [(ngModel)]="address">
          </div>
          <div class="column">
              <span class="new_contact_lines mb_20"></span>
              <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons padding_rl_10">favorite_border</i>Bookmark</p>
              <input class="new_contact_inputs new_contact_inputs_checkbox" type="checkbox" [(ngModel)]="Bookmark">
            </div>
      <div class="column">
          <span class="new_contact_lines mb_20"></span>
          <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">email</i>emails</p>
          <div class="flex_start mobile_change_flex" *ngFor = "let email of emails;let i = index;">
            <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contacct email" [(ngModel)]="emails[i].contactEmail">
            <div class="new_contact_delete_button column mobile_hide_label_input">
              <i class="material-icons cursor_pointer" (click)="deleteEmail(i)">highlight_off</i>
            </div>
          </div>
        </div>
        <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherEmail()"><i class="material-icons pr_7">add_circle_outline</i>Add email</p>
        <div class="column">
            <span class="new_contact_lines mb_20"></span>
            <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">phone</i>number</p>
            <div class="flex_start mobile_change_flex" *ngFor = "let number of numbers;let i = index;">
              <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contact number" [(ngModel)]="numbers[i].contactNumber">
              <div class="new_contact_delete_button column mobile_hide_label_input">
                <i class="material-icons cursor_pointer" (click)="deleteNumber(i)">highlight_off</i>
              </div>
            </div>
          </div>
          <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherNumber()"><i class="material-icons pr_7">add_circle_outline</i>Add number</p>
    <div class="column">
        <span class="new_contact_lines mb_20"></span>
        <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>tag</p>
        <div class="flex_start mobile_change_flex" *ngFor = "let tag of tags;let i = index;">
          <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contact tag" [(ngModel)]="tags[i].contactTag">
          <div class="new_contact_delete_button column mobile_hide_label_input">
            <i class="material-icons cursor_pointer" (click)="deleteTag(i)">highlight_off</i>
          </div>
        </div>
      </div>
      <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherTag()"><i class="material-icons pr_7">add_circle_outline</i>Add tag</p>
    <div class="space_between mt_100 mb_20">
      <button mat-button class="buttons cancle_btn_color" (click)="cancleAndGoBack()"><span class="font_Lato white_color">Cancle</span></button>
      <button mat-button class="buttons save_btn_color" (click)="addNewContactSubmit()"><span class="font_Lato white_color">Save</span></button>
    </div>
  </div>
</div>
