.modal_box {
    height: 240px;	
    width: 480px;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 14px 0 rgba(99,109,255,0.27);
}

.mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
}

.delete_modal_title {
    margin-left: 20px;
    margin-top: 20px;
}

.delete_modal_line {	
    box-sizing: border-box;	
    height: 2px;	
    width: 480px;	
    border: 1px solid #DCDCDC;
}

.text_align {
    text-align: center;
}

.delete_modal_buttons {
    margin: 0px 20px 0px 20px;
}

.mt_50 {
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .modal_box {
        height: 330px;	
        width: 315px;
    }
    .mobile_flex_center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile_position:first-of-type {
        margin-top: 20px;
        order: 1;
    }
}