<div class="column_align_items">
  <div class="modal_box">
    <p class="font_Lato blue_color fs_18 delete_modal_title">Delete</p>
    <div class="delete_modal_line"></div>
    <p class="font_Lato blue_color fs_18 text_align mt_30">Are you sure you want to delete this contact?</p>
    <div class="space_between mt_50 mobile_flex_center">
        <button mat-button class="buttons cancle_btn_color delete_modal_buttons mobile_position" (click)="cancleModal()"><span class="font_Lato white_color">Cancle</span></button>
        <button mat-button class="buttons save_btn_color delete_modal_buttons mobile_position" (click)="deleteTheContact()"><span class="font_Lato white_color">Delete</span></button>
    </div>
  </div>
</div>
