<!-- <div class="row mobile_flex_wrapper">
    <div class="mobile_back_icon_line">
      <div class="space_between">
          <i class="material-icons blue_color cursor_pointer mobile_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
          <div class="row cursor_pointer" (click)="deleteContact()">
              <i class="material-icons column blue_color mobile_back_icon">delete</i>
            </div>
      </div>
        <span class="mobile_icon_line"></span>
    </div>
    <div class="row cursor_pointer">
        <div class="new_contact_upload_photo column_text_center cursor_pointer" (click)=file.click() *ngIf="!editContact.profileImg && !imgURL">
          <i class="material-icons blue_color" *ngIf="!imgURL">cloud_upload</i>
          <input #file type="file" accept='image/*' (change)="preview(file.files)" style="display: none" />
        </div>
        <div class="row cursor_pointer" (click)=file.click() *ngIf="imgURL || editContact.profileImg">
          <img [src]="editContact.profileImg" alt="ContactList user avatar" class="new_contact_uploaded_photo" *ngIf="!imgURL && editContact.profileImg">
          <img [src]="imgURL" alt="ContactList user avatar" class="new_contact_uploaded_photo" *ngIf="imgURL">
          <input #file type="file" accept='image/*' (change)="preview(file.files)" style="display: none" />
        </div>
    </div>
    <div class="mt_100">
      <div class="space_between">
        <i class="material-icons blue_color cursor_pointer column remove_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
        <div class="row cursor_pointer remove_back_icon" (click)="deleteContact()">
          <p class="blue_color font_Lato">Delete</p>
          <i class="material-icons column blue_color">delete</i>
        </div>
      </div> 
      <div class="column">
        <span class="new_contact_lines mb_20"></span>
        <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>full name</p>
        <input class="new_contact_inputs" type="text" [(ngModel)]="editContactObj[0].fullName">
      </div>
      <div class="column">
        <span class="new_contact_lines mb_20"></span>
        <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">email</i>email</p>
        <input class="new_contact_inputs" type="email" [(ngModel)]="editContactObj[0].email">
      </div>
      <div class="column">
        <span class="new_contact_lines mb_20"></span>
        <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">phone</i>numbers</p>
        <div class="flex_start mobile_change_flex" *ngFor = "let number of editContactObj[0].numbers;let i = index;">
          <input class="new_contact_inputs mobile_number_input" type="text" [(ngModel)]="editContactObj[0].numbers[i].number">
          <input class="new_contact_inputs new_contact_label_input mobile_hide_label_input" type="text" [(ngModel)]="editContactObj[0].numbers[i].label">
          <div class="new_contact_delete_button column mobile_hide_label_input">
            <i class="material-icons cursor_pointer" (click)="deleteNumber(i)">highlight_off</i>
          </div>
          <span class="mobile_label_input_wrapper">
              <input class="new_contact_inputs new_contact_label_input" type="text" placeholder="Your label for the number" [(ngModel)]="editContactObj[0].numbers[i].label">
              <div class="new_contact_delete_button column">
                <i class="material-icons cursor_pointer" (click)="deleteNumber(i)">highlight_off</i>
              </div>
            </span>
        </div>
      </div>
      <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherNumber()"><i class="material-icons pr_7">add_circle_outline</i>Add number</p>
      <div class="space_between mt_100 mb_20">
        <button mat-button class="buttons cancle_btn_color" (click)="cancleAndGoBack()"><span class="font_Lato white_color">Cancle</span></button>
        <button mat-button class="buttons save_btn_color" (click)="editContactSubmit()"><span class="font_Lato white_color">Save</span></button>
      </div>
    </div>
  </div>
   -->

   <div class="row mobile_flex_wrapper">
    <div class="mobile_back_icon_line">
        <i class="material-icons blue_color cursor_pointer mobile_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
        <span class="mobile_icon_line"></span>
    </div>
    <div class="mt_100">
        <i class="material-icons blue_color cursor_pointer remove_back_icon" (click)="cancleAndGoBack()">keyboard_backspace</i>
        <div class="column">
          <span class="new_contact_lines mb_20"></span>
          <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>first name</p>
          <input class="new_contact_inputs" type="text" placeholder="Your first name" [(ngModel)]="editContact.firstName">
        </div>
        <div class="column">
            <span class="new_contact_lines mb_20"></span>
            <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>last name</p>
            <input class="new_contact_inputs" type="text" placeholder="Your last name" [(ngModel)]="editContact.lastName">
          </div>
          <div class="column">
              <span class="new_contact_lines mb_20"></span>
              <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">house</i>address</p>
              <input class="new_contact_inputs" type="text" placeholder="Your address" [(ngModel)]="editContact.address">
            </div>
            <div class="column">
                <span class="new_contact_lines mb_20"></span>
                <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons padding_rl_10">favorite_border</i>Bookmark</p>
                <input class="new_contact_inputs new_contact_inputs_checkbox" type="checkbox" [(ngModel)]="editContact.bookmarked">
              </div>
        <div class="column">
            <span class="new_contact_lines mb_20"></span>
            <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">email</i>emails</p>
            <div class="flex_start mobile_change_flex" *ngFor = "let email of editContact.emails;let i = index;">
              <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contacct email" [(ngModel)]="editContact.emails[i].contactEmail">
              <div class="new_contact_delete_button column mobile_hide_label_input">
                <i class="material-icons cursor_pointer" (click)="deleteEmail(i)">highlight_off</i>
              </div>
            </div>
          </div>
          <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherEmail()"><i class="material-icons pr_7">add_circle_outline</i>Add email</p>
          <div class="column">
              <span class="new_contact_lines mb_20"></span>
              <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">phone</i>number</p>
              <div class="flex_start mobile_change_flex" *ngFor = "let number of editContact.numbers;let i = index;">
                <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contact number" [(ngModel)]="editContact.numbers[i].contactNumber">
                <div class="new_contact_delete_button column mobile_hide_label_input">
                  <i class="material-icons cursor_pointer" (click)="deleteNumber(i)">highlight_off</i>
                </div>
              </div>
            </div>
            <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherNumber()"><i class="material-icons pr_7">add_circle_outline</i>Add number</p>
      <div class="column">
          <span class="new_contact_lines mb_20"></span>
          <p class="font_Lato blue_color mb_20 flex_start pl_25"><i class="material-icons pr_7">account_circle</i>tag</p>
          <div class="flex_start mobile_change_flex" *ngFor = "let tag of editContact.tags;let i = index;">
            <input class="new_contact_inputs mobile_number_input" type="tel" placeholder="Contact tag" [(ngModel)]="editContact.tags[i].contactTag">
            <div class="new_contact_delete_button column mobile_hide_label_input">
              <i class="material-icons cursor_pointer" (click)="deleteTag(i)">highlight_off</i>
            </div>
          </div>
        </div>
        <p class="font_Lato cursor_pointer blue_color flex_start mobile_add_number" (click)="addAnotherTag()"><i class="material-icons pr_7">add_circle_outline</i>Add tag</p>
      <div class="space_between mt_100 mb_20">
        <button mat-button class="buttons cancle_btn_color" (click)="cancleAndGoBack()"><span class="font_Lato white_color">Cancle</span></button>
        <button mat-button class="buttons save_btn_color" (click)="editContactSubmit()"><span class="font_Lato white_color">Save</span></button>
      </div>
    </div>
  </div>
  