.mobile_back_icon_line {
    display: none;
}

@media only screen and (max-width: 768px) {

    .mobile_icon_line {
        display: block;
        width: 100%;
        box-sizing: border-box;	
        height: 2px;	
        border: 1px solid #BBC4C3;	
        margin-bottom: 20px;
    }

    .mobile_flex_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mt_100 {
        margin-top: 30px;
        width: 100%;
    }

    .new_contact_lines {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .new_contact_inputs {
        width: 90%;
        margin: 0 auto;
    }
    .new_contact_label_input {
        width: 80%;
        margin-bottom: 20px;
    }

    .mobile_label_input_wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .mobile_hide_label_input {
        display: none;
    }

    .mobile_change_flex {
        display: block;
    }

    .mobile_number_input {
        display: flex;
        margin-bottom: 20px;
    }

    .new_contact_delete_button {
        padding: 0px;
        padding-right: 15px;
    }

    .mobile_add_number {
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin: 0px 15px 0px 15px;
    }

    .pl_25 {
        padding-left: 25px;
    }

    .remove_back_icon {
        display: none;
    }

    .mobile_back_icon_line {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .mobile_back_icon {
        margin-left: 15px;
    }
}