<div class="row mt_30">
  <span class="tabs_text gray_color fs_18 font_Lato" tabindex="0" (click)="changeTabs('allContacts')">All
    contacts</span>
  <div class="tabs_line"></div>
  <span class="tabs_text gray_color fs_18 font_Lato" tabindex="0" (click)="changeTabs('myFavorite')">Bookmarked</span>
</div>
<div class="row">
  <div class="line_separator mt_30"></div>
</div>
<form [formGroup]="searchForm" (keydown)="onFormSubmit($event)">
  <div class="row form-group">
    <input class="form-control searchBar" formControlName="searchValue">
  </div>
  <div class="row column_align_items width_100 mobile_contact_box_name_profile">
    <p class="fs_18 gray_color font_Lato mobile_fullname">Search by:</p>
  </div>
  <div class="row">
    <div class="form-group">
      <input type="radio" value="first" name="searchBtn" class="form-control" formControlName="searchBtn">
      <label class="fs_18 gray_color font_Lato mobile_fullname">First name</label>
    </div>

    <div class="form-group">
      <input type="radio" value="last" name="searchBtn" class="form-control" formControlName="searchBtn">
      <label class="fs_18 gray_color font_Lato mobile_fullname">Last Name</label>
    </div>

    <div class="form-group">
      <input type="radio" value="tag" name="searchBtn" class="form-control" formControlName="searchBtn">
      <label class="fs_18 gray_color font_Lato mobile_fullname">Tag</label>
    </div>
  </div>
</form>
<div class="flex_row_contacts_wrapper mobile_flex_contacts_wrapper"
  *ngIf="currentTab == 'allContacts' || currentTab == ''">
  <div class="add_new_contact_box" (click)="newContact()"><i class="material-icons blue_color">add</i><span
      class="font_Lato blue_color">Add new</span></div>
  <div class="list_contacts_box column_align_items mobile_contact_box_wrapper"
    *ngFor="let contact of listOfAllContacts; let i = index;" tabindex="0">
    <div class="space_between gray_color width_100 mobile_contact_box_icons">
      <div>
        <i class="material-icons padding_rl_10" (click)="editContact(contact)">edit</i>
        <i class="material-icons padding_rl_10" (click)="deleteContact(contact)">delete</i>
      </div>
    </div>
    <div class="column_align_items width_100 mobile_contact_box_name_profile" (click)="previewContact(contact)">
      <span class="fs_18 gray_color font_Lato mobile_fullname">{{ contact.firstName }} {{contact.lastName}}</span>
    </div>
  </div>
</div>
<div class="flex_row_contacts_wrapper mobile_flex_contacts_wrapper" *ngIf="currentTab == 'myFavorite'">
  <div class="add_new_contact_box" (click)="newContact()"><i class="material-icons blue_color">add</i><span
      class="font_Lato blue_color">Add new</span></div>
  <div class="list_contacts_box column_align_items mobile_contact_box_wrapper"
    *ngFor="let contact of listOfBookmarked; let i = index;" tabindex="0">
    <div class="space_between gray_color width_100 mobile_contact_box_icons">
      <div>
        <i class="material-icons padding_rl_10" (click)="editContact(contact)">edit</i>
        <i class="material-icons padding_rl_10" (click)="deleteContact(contact)">delete</i>
      </div>
    </div>
    <div class="column_align_items width_100 mobile_contact_box_name_profile" (click)="previewContact(contact)">
      <span class="fs_18 gray_color font_Lato mobile_fullname">{{ contact.firstName }} {{contact.lastName}}</span>
    </div>
  </div>
</div>