.searchBar {
    display: flex;
    justify-content: center;
    height: 50px;	
    width: 450px;	
    margin-top: 50px;
    border: 1px solid #EAEAEA;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 34px 0 #E3E3E3;
    background: url('/assets/outline-search-24px.svg') no-repeat scroll 7px 15px;
    padding-left: 35px;
}

.placeholder_img {
    border: 0px !important;
    background-color: #27919D;
}

.line_separator {
    box-sizing: border-box;	
    height: 2px;	
    width: 80%;	
    border: 1px solid #2DA1AD;
}

.flex_row_contacts_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.add_new_contact_box {
    cursor: pointer;
    height: 150px;	
    width: 270px;	
    border: 1px solid #2DA1AD;	
    border-style: dashed;
    border-radius: 4px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.list_contacts_box {
    cursor: pointer;
    flex: 1 0 21%;
    height: 150px;	
    max-width: 270px;	
    border: 1px solid rgba(187,196,195,0.4);    
    border-radius: 4px;
    margin: 30px;
}

.list_contacts_box:focus {
	border: 1px solid #2DA1AD;
}

.contacts_list_photo {
    box-sizing: border-box;	
    height: 66px;	
    width: 66px;	
    border: 3px solid rgba(187,196,195,0.3);
    border-radius: 50%;
}

.tabs_text {
    cursor: pointer;
}

.tabs_text:focus {
    color: #27919D;
    outline: none;
}

.tabs_line {
    box-sizing: border-box;	
    height: 18px;	
    width: 2px;	
    border: 1px solid #BBC4C3;
    margin: 0px 25px 0px 25px;
}

.mt_30 {    
    margin-top: 30px;
}

.width_100 {
    width: 100%;
}

.fs_18{
    font-size: 18px;
}

.font_Lato {
    font-family: Lato;	
}

.blue_color {
    color: #27919D;
}

.gray_color {
    color: #ADB8B6;	
}

.white_color {
    color: #FFFFFF;
}

.cancle_btn_color {
    background-color: #BBC4C3;
}

.save_btn_color {
    background-color: #2DA1AD;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

.column_text_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.column_align_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pr_7 {
    padding-right: 7px;
}

.backgroud_color_gradient {
    background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);	
}

.row_align_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .searchBar {
        width: 80%;
    }

    .add_new_contact_box {
        height: 60px;
        width: 90%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 15px auto;
    }

    .list_contacts_box {
        height: 60px;
    }

    .mobile_flex_contacts_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .mobile_contact_box_wrapper {
        flex-direction: row;
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .mobile_contact_box_icons {
        justify-content: flex-end;
        order: 2;
    }

    .mobile_contact_box_name_profile {
        flex-direction: row;
        justify-content: flex-start;
    }

    .mobile_fullname {
        margin-left: 15px;
    }

    .contacts_list_photo {
        margin-left: 5px;
        height: 46px;	
        width: 46px;
    }
}